.link_block_item {
    position: relative;
    margin-bottom: 35px;
}

.link_block_item a {
    height: 100%;
}

.link_block_item a .item_img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.link_block_item .text {
    background-image: -moz-linear-gradient(0deg, #0b36ba 0%, #3c2887 100%);
    background-image: -webkit-linear-gradient(0deg, #0b36ba 0%, #3c2887 100%);
    background-image: -ms-linear-gradient(0deg, #0b36ba 0%, #3c2887 100%);
    position: absolute;
    display: table;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.link_block_item .text span {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'AcromThin', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    background: url('../img/icons/link-arrow.png') no-repeat;
    background-position: center right 45px;
    padding: 0 115px 0 45px;
    text-transform: uppercase;
    line-height: 32px;
}

.link_block_item:hover .text span {
    background: url('../img/icons/link-arrow-hover2.png') no-repeat;
    background-position: center right 45px;
    padding: 0 115px 0 45px;
}

@media screen and (max-width:991px) {
    .link_block_item .text span {
        background: url('../img/icons/link-arrow.png') no-repeat;
        background-position: center right 15px;
        padding: 0px 65px 0 15px;
        font-size: 18px;
    }
    .link_block_item:hover .text span {
        background: url('../img/icons/link-arrow-hover2.png') no-repeat;
        background-position: center right 15px;
        padding: 0px 65px 0 15px;
    }
}

@media screen and (max-width:575px) {
    .block_bg {
        padding: 0;
    }
}


/* NEWS */

.news_bg .news-list {
    padding: 55px 0 15px;
}

.news_bg .news-list a {
    text-decoration: none;
}

.news_bg h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-family: 'AcromThin', sans-serif;
    margin-bottom: 25px;
}

.news_bg h1 a {
    font-family: 'AcromThin', sans-serif;
    color: #fff;
}

.news_bg h1 a:hover {
    color: #00ff81;
}

.news_bg .news-list .item {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
}

.news_bg .news-list .item .media {
    width: 145px;
    height: 145px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover !important;
}

.news_bg .news-list .item .content {
    position: relative;
    width: 100%;
}

.news_bg .news-list .item .content .title {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'AcromMedium', sans-serif;
}

.news_bg .news-list .item .content .description {
    font-size: 14px;
    color: #fff;
    margin: 15px 0 10px;
    font-weight: 100;
    overflow: hidden;
}

.news_bg .news-list .item .content .date {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

.news_bg .news-list .item .content .link {
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    background: url('../img/icons/link-arrow.png') no-repeat;
    background-size: contain;
    right: 0;
    bottom: 5px;
}

.news_bg .news-list .item:hover .content .link {
    background: url('../img/icons/link-arrow-hover2.png') no-repeat;
    background-size: contain;
}

.news_bg {
    background-image: linear-gradient(to top right, #1d32a8, #b5030a);
}

.news_bg .news-text {
    padding: 55px 0 15px;
}

.news_bg .news-text p {
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 24px;
    font-weight: 100;
    padding-right: 10px;
}

@media screen and (max-width:575px) {
    .news_bg .news-list .item .media {
        width: 100px;
        height: 100px;
    }
}