.product_item {
    position: relative;
    margin-bottom: 35px;
    background: #eef3f6;
}

.product_item a {
    height: 100%;
}

.product_item a .item_img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.product_item .product_title .product_text {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #464646;
    font-weight: 100;
    padding: 14px 70px 8px 30px;
    transition: color 0.5s;
    background: url('../img/icons/cat_arrow.png') no-repeat center right 25px;
}

.product_text .product_text_title {
    font-family: 'AcromMedium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.product_text .product_text_descr {
    font-size: 14px;
    line-height: 24px;
}

.product_title {
    position: relative;
    min-height: 100px;
}

.product_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-image: linear-gradient(to bottom, #075c98 0%, #0b47bb 100%);
}

.product_item a:hover .product_text {
    color: #00ff81;
    background: url('../img/icons/cat_arrow_hover.png') no-repeat center right 25px;
}

.product_item a:hover .product_title::after {
    transform: scaleY(1);
}

@media screen and (max-width:575px) {
    .product_item .product_title .product_text {
        font-size: 14px;
        padding: 8px 32px 8px 12px;
        background: url('../img/icons/cat_arrow.png') no-repeat center right 6px;
    }
    .product_item a:hover .product_text {
        background: url('../img/icons/cat_arrow_hover.png') no-repeat center right 6px;
    }
}