/* HEADER */

.my_navbar {
    background-image: linear-gradient(to top right, #1d32a8, #b5030a);
    min-height: 320px;
    padding-top: 70px;
}

.my_navbar_navigation_block {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
}

.my_navbar_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.my_navbar_logo {
    height: 70px;
}

.my_navbar_logo img {
    width: auto;
    height: auto;
    max-height: 105px;
}

.my_navbar_items {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

navbar_item {}

.navbar_item a {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    display: block;
    height: 100%;
    padding: 14px 23px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar_item a:hover,
.navbar_item a:active {
    border: 3px solid #84a0dc;
}


/* search */

.search {
    position: relative;
}

.wrap-search .search-icon {
    width: 16px;
    height: 16px;
    background: url('../img/icons/search-icon.png') no-repeat;
    float: right;
    margin-top: 0px;
    margin-left: 6px;
    cursor: pointer;
}

.wrap-search .toggle {
    position: absolute;
    right: 0;
    top: 36px;
    display: block;
    float: right;
    overflow: visible;
    margin-top: 5px;
}

.wrap-search .toggle .arrow {
    position: absolute;
    right: 0;
    top: -13px;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #fff;
}

.wrap-search .toggle input {
    width: 220px;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: #898989;
    font-size: 13px;
    padding-left: 15px;
}

.my_navbar_page_header h1 {
    font-family: 'AcromThin', sans-serif;
    font-size: 44px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    padding: 30px 100px;
    text-transform: capitalize;
}


/* breadcrumbs  */

.my_breadcrumbs {
    padding: 0px;
    margin-top: 50px;
}

.my_breadcrumbs li {
    list-style-type: none;
    display: inline-block;
}

.my_breadcrumbs li a {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.my_breadcrumbs li .divider {
    display: inline-block;
    height: 9px;
    width: 6px;
    margin: 0 8px 0 10px;
    background: url('../img/icons/dot.png') no-repeat center;
}

.my_breadcrumbs li span.name {
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
}


/* BODY */

a:hover {
    text-decoration: none;
}

.body_bg {
    overflow: hidden;
    background: url('../img/body-bg.png') repeat;
}

.white_bg {
    background: #fff;
    padding: 35px 20px 0;
}

.std_text {
    font-size: 16px;
    font-family: yandex-sans;
    margin: 12px 0;
    color: #464646;
}

.strong_text {
    font-size: 16px;
    font-family: yandex-sans;
    margin: 18px 0;
    font-size: 22px;
    color: #464646;
    font-weight: 900;
}

.list_title {
    font-weight: 700;
}


/* FOOTER */

.footer_map {
    position: relative;
    background: url('../img/footer/map.png') no-repeat;
    overflow: hidden;
}

.map_contacts_block {
    height: 620px;
    top: 0;
    right: 0;
    opacity: 0.9;
    background-image: linear-gradient(to right, #3e2786 0%, #0d36b8 100%);
    padding-left: 120px;
    padding-top: 105px;
    padding-bottom: 105px;
    padding-right: 20px;
}

.map_contacts_block h3 {
    font-family: 'AcromThin', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    margin: 0 0 25px;
}

.map_contacts_block p {
    color: #fff;
    font-size: 15px;
    padding-left: 35px;
    margin: 20px 0;
}

.map_contacts_block .button {
    width: 220px;
    height: 55px;
    text-align: center;
    line-height: 50px;
    outline: none;
    margin: 50px auto 0 auto;
}

.map_contacts_block .button a {
    font-family: 'AcromLight', sans-serif;
    font-weight: 700;
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border: 3px solid #81a3c0;
    border-radius: 3px;
}

.mob_map {
    display: none;
}

.footer_bottom_line {
    background: #eef3f6;
}

.footer_bottom_line .copyright {
    height: 75px;
    line-height: 75px;
    font-size: 11px;
    color: #898989;
    position: relative;
}

@media screen and (max-width:1350px) {
    .footer_map {
        background-size: cover;
        background-position: right;
    }
}

@media screen and (max-width:1080px) {
    .map_contacts_block {
        padding-left: 20px;
        height: auto;
    }
}

@media screen and (max-width:575px) {
    .footer_map {
        background-size: auto;
        background-position: center;
    }
    .map_contacts_block {}
    .mob_map {
        display: block;
    }
}


/* animations */

@keyframes pulse {
    from {
        transform: scale(1)
    }
    50% {
        transform: scale(1.05)
    }
    to {
        transform: scale(1)
    }
}