.MyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.MyCardBox {
    background-color: #f5f5f5;
    width: 100%;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    margin: 20px 0;
}

.MyCardBox.Hover:hover {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.MyImageBox {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    display: flex;
    z-index: 0;
}

.MyImageBox::after,
.MyImageBox::before {
    content: "";
    border-color: #fff;
    transition: all 600ms;
    border-style: solid;
    border-width: 0;
    height: 1.5em;
    position: absolute;
    width: 1.5em;
    opacity: 0;
}

.MyImageBox::before {
    border-right-width: 3px;
    border-top-width: 3px;
    right: 5%;
    top: 5%;
}

.MyImageBox::after {
    border-bottom-width: 3px;
    border-left-width: 3px;
    bottom: 5%;
    left: 5%;
}

.MyImageBox:hover::before,
.MyImageBox:hover::after {
    width: 50%;
    height: 50%;
    opacity: 1;
    z-index: 8;
}

.MyImageBox:hover .hero__text {
    opacity: 1;
    transform: translateY(0em);
}

.MyImage {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    position: absolute;
    transition: all .1s linear;
}

.MyCardBox:hover .MyImage {
    /* transform: translate(-50%, -50%) scale(1.20); */
}

.MyCardText {
    position: relative;
    padding: 24px 16px 16px 16px;
    width: 100%;
}

.MyHoverContent {
    background: #f57c00;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 36px;
    transform: translateY(100%);
    transition: all .3s cubic-bezier(0.025, 0.8, 0.25, 1);
}

.MyCardBox:hover .MyHoverContent {
    transform: translateY(0);
}

.MyButton {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: -36px;
    right: 16px;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    flex: 0 0 auto;
    align-items: center;
    vertical-align: middle;
    font-weight: 500;
    justify-content: center;
    background-color: #ff9800;
    border-color: #ff9800;
    color: #fff;
    border-style: none;
    height: 72px;
    width: 72px;
    cursor: pointer;
    z-index: 4;
    text-transform: uppercase;
}

.MyButton:focus,
.MyButton:hover {
    filter: brightness(1.15);
    outline: 0;
}

.MyCardSubtitle {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    font-weight: 300;
}

.MyCardBigTitle {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    color: #ff9800;
    margin-bottom: 8px;
    font-weight: 300;
}

.MyCardSmallTitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #9e9e9e;
    margin-bottom: 8px;
}


/* gradient */

h3 {
    padding: 12px;
}

.gradient {
    background: linear-gradient(to right, #52b152 20%, #008a00 40%, #005700 60%, #002400 100%);
    position: relative;
}

.gradient:before {
    background: linear-gradient(to right, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s all;
}

.gradient:hover:before {
    opacity: 1;
}